
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
#body__wrap {
    width:1040px;
    display:block;
    margin:0 auto;
    padding:50px 0px;
}

body{
  background: url('ufroopya1.svg')no-repeat top right;
  background-color: #323031;
}

#intro_h1 {
  font-family: 'inter', sans-serif;
  font-weight: 200;
  font-size: 72px;
  color: white;
  text-align: left;
  width: 50%;
  position: relative;
  top: 100px;
  left: 50px;
}

#fortelling_start {
  font-family: 'inter', sans-serif;
  font-weight: 200;
  font-size: 72px;
  color: white;
  text-align: left;
  width: 50%;
  position: relative;
  top: 600px;
  left: 50px;
}

#container_tekst {
  position: relative;
  top: 500px;
}

p {
  font-family: 'inter', sans-serif;
  font-weight: 100;
  font-size: 24px;
  color: white;
  width: 40%;
  position: relative;
  top: 100px;
  left: 50px;

}

#start_knapp {
  min-width: 100px;
  min-height: 60px;
  font-family: 'inter', sans-serif;
  font-size: 18px;
  letter-spacing: 1.3;
  font-weight: 200;
  color: black;
  background: #F9C74F;
  border: none;
  border-radius: 1000px;
  position: relative;
  top: 150px;
  left: 50px;

  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
  }

#start_knapp:hover {
  background: #BB953B;
}


#start_knapp::after {
  content: '';
  width: 30px; height: 30px;
  border-radius: 100%;
  border: 6px solid #F9C74F;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 5s infinite;
}


@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 150px;
    height: 150px;
    opacity: 0;
  }


a {
    font-weight:700;
    text-decoration:none;
    color:black;
}

#sky {
    animation:framogtilbake 5s linear infinite;
}
@keyframes framogtilbake {
    0%, 100% {
        transform:translate(0px,0px);
    }
    50% {
        transform:translate(300px, 0px);
    }
}
svg{
    //background:url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/eddc48ad-1f33-4c3d-87f6-7c0f39ed1e35/d16t47j-c1a9f75c-aa69-4478-a227-63b5f50f0383.jpg/v1/fill/w_1024,h_744,q_75,strp/alien_planet_by_frohickey_d16t47j-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD03NDQiLCJwYXRoIjoiXC9mXC9lZGRjNDhhZC0xZjMzLTRjM2QtODdmNi03YzBmMzllZDFlMzVcL2QxNnQ0N2otYzFhOWY3NWMtYWE2OS00NDc4LWEyMjctNjNiNWY1MGYwMzgzLmpwZyIsIndpZHRoIjoiPD0xMDI0In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.JFsO74dgmXCcYWclKm0PGHZzrMukh5g5p1k4IFIR_fc")no-repeat center;
    background:tomato;
    background-size:100%;
    margin:15px 0px;
    width:100%;
    height:500px;
}
@media only screen and (max-width:1040px) {
    #body__wrap {
        width:100%;
    }
}
