@import url('https://fonts.googleapis.com/css2?family=Inter&family=Megrim&display=swap');

* {
    margin:0;
    padding:0;
}
body, html {
    height:100%;
    width:100%;
    background-color:#323031;

}
h1, h2, h3 {
    font-family:"Megrim", Arial, sans-serif;
    margin:15px 0px;
    color:#fff;
}
h1 {
    font-size:48px;
}
h2 {
    font-size:36px;
}
h3 {
    font-size:28px;
}
p, b, i, a {
    font-family:Inter, Helvetica, sans-serif;
    font-size:24px;
    margin:10px 0px;
    color:#fff;
    line-height:1.5;
}
#scroll__percent {
    width:0%;
    height:5px;
    position:fixed;
    background:#F94144;
    z-index:2;
    transition:all .3s linear;
    border-bottom-right-radius:3px;
}
.fortelling__tekst {
    width:40%;
    display:inline-block;
    box-sizing:border-box;
    padding:40px 20px;
    vertical-align:top;
}
.fortelling__tekst__scroll {
    position:relative;
    box-sizing:border-box;
}
.fortelling__section {
    margin-bottom:700px;
}
.fortelling__section--intro {
    margin-top:200px;
}
.fortelling__bilde {
    width:60%;
    z-index:1;
    display:inline-block;
    vertical-align:top;
}
.fortelling__bilde__section {
    box-sizing:border-box;
    padding:0px 0px 200px 50px;
}
.fortelling__bilde__section img {
    width:500px;
    position:-webkit-sticky;
    position:sticky;
    top:50px;
}