@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Montserrat&display=swap');
* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
#body__wrap {
    width:1040px;
    display:block;
    margin:0 auto;
    padding:50px 0px;
}
h1, h2 {
    font-family:"Megrim", Arial, sans-serif;
    margin:15px 0px;
}
h1 {
    font-size:48px;
}
h2 {
    font-size:36px;
}
p, b, i, a {
    font-family:Montserrat, Helvetica, sans-serif;
    font-size:18px;
    margin:10px 0px;
}
button {
    outline:none;
    background:lightblue;
    border:none;
    border-radius:3px;
    padding:10px 15px;
    font-weight:700;
}
#sky {
    animation:framogtilbake 5s linear infinite;
}
@keyframes framogtilbake {
    0%, 100% {
        transform:translate(0px,0px);
    }
    50% {
        transform:translate(300px, 0px);
    }
}
svg{
    background:url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/eddc48ad-1f33-4c3d-87f6-7c0f39ed1e35/d16t47j-c1a9f75c-aa69-4478-a227-63b5f50f0383.jpg/v1/fill/w_1024,h_744,q_75,strp/alien_planet_by_frohickey_d16t47j-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3siaGVpZ2h0IjoiPD03NDQiLCJwYXRoIjoiXC9mXC9lZGRjNDhhZC0xZjMzLTRjM2QtODdmNi03YzBmMzllZDFlMzVcL2QxNnQ0N2otYzFhOWY3NWMtYWE2OS00NDc4LWEyMjctNjNiNWY1MGYwMzgzLmpwZyIsIndpZHRoIjoiPD0xMDI0In1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.JFsO74dgmXCcYWclKm0PGHZzrMukh5g5p1k4IFIR_fc")no-repeat center;
    background-size:100%;
    margin:15px 0px;
    width:100%;
}