* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
#body__wrap {
    width:1040px;
    display:block;
    margin:0 auto;
    padding:50px 0px;
}
h1, h2, p {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:15px 0px;
}
h1 {
    font-size:48px;
}
h2 {
    font-size:36px;
}
p, b, i, a {
    font-size:18px;
    margin:10px 0px;
}
svg, img {
    margin:15px 0px;
}